<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ Site.SiteName }}</title>
    <link rel="icon" type="image/x-icon" href="/Resume.OrchardCore/favicon.ico" />
    <link rel="apple-touch-icon" sizes="120x120" href="/Resume.OrchardCore/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/Resume.OrchardCore/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/Resume.OrchardCore/favicon-16x16.png">
    <link rel="manifest" href="/Resume.OrchardCore/site.webmanifest">
    <link rel="mask-icon" href="/Resume.OrchardCore/safari-pinned-tab.svg" color="#2b5797">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#2b5797">	
    {% render_section "HeadMeta", required: false %}
    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    {% style name:"bootstrap", use_cdn:"true", version:"4" %}
    {% style name:"font-awesome", use_cdn:"true", version:"5" %}

    {% resources type: "Meta" %}
    {% resources type: "HeadLink" %}
    {% resources type: "Stylesheet" %}
    {% resources type: "HeadScript" %}
    <!-- Custom styles for this template -->
    <link href="/Resume.OrchardCore/css/resume.min.css" rel="stylesheet">	
  </head>

  <body id="page-top">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">{{ Site.SiteName }}</span>
        <span class="d-none d-lg-block">
		  {% render_section "Left" %}
        </span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">        
        {% shape "menu", alias: "alias:main-menu", cache_id: "main-menu", cache_duration: "00:05:00", cache_tag: "alias:main-menu" %}
      </div>
    </nav>

    <div class="container-fluid p-0">

      {% render_body %}

    </div>

    <!-- Bootstrap core JavaScript -->
    {% script name:"bootstrap", use_cdn:"true", version:"4", at:"Foot" %}
    {% resources type: "FootScript" %}

    <!-- Plugin JavaScript -->
    <script src="/Resume.OrchardCore/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/Resume.OrchardCore/js/resume.min.js"></script>
  </body>

</html>